body {
 margin: 0;
 display: flex;
 flex-direction: column;
 color: white;
<<<<<<< HEAD
 background-image: url("background_images/Shimura_tae-removebg-preview.png");
 background-repeat: no-repeat;
 background-size: contain;

=======
 
 
>>>>>>> eb9225e25ae41fb17cca7e01e9792f0dba743ba1
}
ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 15px;
    
}
.heading {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    padding: 0 256px;
    gap: 400px;
    
}
.space {
    display: flex;
    color: black;
    gap: 70px;
    justify-content: center;
    padding:0 257px;
    margin: 30px;
<<<<<<< HEAD
    
=======
>>>>>>> eb9225e25ae41fb17cca7e01e9792f0dba743ba1
}


.start {
    display: flex;
<<<<<<< HEAD
    background-image: url();
=======
    background-color: #1f2937;
>>>>>>> eb9225e25ae41fb17cca7e01e9792f0dba743ba1
    padding: 150px 256px;
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 50px
    
}
.main_text {
    font-size: 24px;
    color: #f9faf8;
    

}
.main {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    display: flex;
    
    
}
button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 90px;
    font-weight: bold;
    border: 3px solid #3882f6;
}
footer {
    background-color: #1f2937;
    justify-content: center;
    display: flex;
    margin-top: 50px;
}
.pd_sign_up {
    color: black;
    display: flex;
    justify-content: center;
    align-items:center ;
    background-color: #3882f6;
    gap: 15px;
    height: 100px;
    width: 480px;
    align-self: center;
    padding: 36px;
    border-radius: 18px;
    margin: 50px;
}
img {
    border-radius: 15px;
}
.box {
    height: 200px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 8px;
}
.tt {
    align-items: center;
    display: flex;
    flex-direction: column;
}